@charset "UTF-8";
/* 共通 */
body {
    font-family: "游明朝","YuMincho","Yu Mincho"
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    /* border:1px solid blue; */
}

.content {
  max-width: 800px;
  margin: 0 auto;
}

.img {
    max-width: 100%;
    vertical-align: bottom;
}

/* index.html header */
#header {
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    padding: 50px 2%;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

#header .inner {
    width: 80%;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
}

#header .logo {
    font-size: 24px;
    transform: translateY(10px);
    z-index: 20;
}
/* nav */
.navi-menu {
    margin-left: 95px;
    position: fixed;
    top: 5;
    left: -300px;
    z-index: 20;
    transition: 0.3s;
    opacity: 0;
    padding-top: 90px;
}

.navi-menu a {
    color: #fff;
    font-size: 20px;
    line-height: 2;

}

.open .navi-menu {
    left:  0;
    opacity: 1;
}

li {
    list-style: none;
}

a {
    color:#333;
    text-decoration: none;
}

/* toggle*/

.toggle-btn {
    display: flex;
    flex-direction: column;
    gap: 6px;
    cursor: pointer;
    position: relative;
    z-index: 20;  
    width: 50px;
    height: 50px;
    
}

.toggle-btn span{
    position: absolute;
    width: 100%;
    height: 2px;
    display: block;
    background-color: #333;
}

.toggle-btn span:nth-child(1) {
  top: 25%;
}

.toggle-btn span:nth-child(2) {
  top: 55%;
}

.toggle-btn span:nth-child(3) {
  top: 85%;
}

.open .toggle-btn span {
  background-color:#fff;
}

.open .toggle-btn span:nth-child(1) {
  top: 50%;
  transform: rotate(45deg);
}

.open .toggle-btn span:nth-child(2) {
  top: 50%;
  transform:  rotate(-45deg);
}

.open .toggle-btn span:nth-child(3) {
  top: 50%;
  transform:  rotate(45deg);
}

/* mask */
.mask {
    display: none;
}

.open .mask {
    display: block;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.8;
    z-index: 10;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

/* main */
.mainvisual {
    position: relative;    
}

.mainvisual img{
    width: 80%;
    height: auto;
    display: block;    
   margin-inline: auto; 
}

.site-title {
    position: absolute;
    top: 55%;
    right: 15%;
    /* transform: translate(30%,-0%); */
}

.site-title p {
    font-size: 30px;
    color: #fff;
    line-height: 1.8;
}

.intro {
    max-width: 700px;
    padding: 60px 20px;
    margin: 0 auto;
    line-height: 2;
    text-align: center;
}

.menu-button {
    display: inline-block;
    margin-block: 40px 50px;
    padding: 14px 40px;
    background-color:  #e9dfc6;
    color: #333;
    text-decoration: none;
    border-radius: 30px;
    font-weight: 500;
    transition: 0.3s;
}

.top-footer {
  text-align: center;
  font-size: 14px;
  background-color: #e6e6e6;
  padding-block: 20px;
}



/* menu */
#header-image {
  height: 450px;
  padding: 80px 10%;
  background-image: url(../img/header.jpg);
  background-size: cover;
  display: flex;
  justify-content: space-between;
  /* position: fixed; */
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

/* menu main */

.logo-title {
  color: #fff;
  font-size: 30px;
  padding-top: 10px;
  z-index: 15;
}

.text {
  margin-block: 120px;
  font-size: 30px;
  color: #333;
}


.gallery-images {
  width: 800px;
  margin :0 auto;
  display: flex;
  justify-content: space-between;
}

.image1 {
  width: 60%;
}

.image1 img{
  width: 100%;
  height: 305px;
  object-fit: cover;
}

.image2 {
  width: 35%;
}

.image2 img{
  width: 100%;
  height: 305px;
  object-fit: cover;
}


.menu {
  max-width: 800px;
  margin: 0 auto;
  padding: 60px 0px;
  font-family: "Yu Mincho", serif;
  color: #000;
}

.menu-title {
  font-size: 32px;
  text-align: center;
  margin-bottom: 40px;
  position: relative;
}

.menu-title span {
  font-size: 16px;
  color: #000;
  margin-left: 10px;
}

.menu-section {
  margin-bottom: 50px;
}

.menu-subtitle {
  font-size: 22px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 8px;
  margin-bottom: 20px;
}

.menu-subtitle span {
  font-size: 14px;
  color: #000;
  margin-left: 8px;
}

.menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
  border-bottom: 1px dotted #ddd;
}

.item-name {
  flex: 1;
}

.price {
  width: 60px;
  text-align: right;
}

.menu-footer {
  position: relative;
}

.menu-footer img{
  width: 100%;
  height: 250px;
  object-fit: cover;
}


.menu-footer p{
  position: absolute;
  top: 190px;
  left: 50%;
  transform: translateX(-50%);
  color: #222;
  /* text-shadow: 2px 2px 4px rgba(30, 14, 0, 0.851); */
}


/* access */
.access,
.contact {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  scroll-margin-top: 100px;
}

.access{
  padding: 158px 20px 80px 20px;
}

.contact{
  padding: 50px 20px 80px 20px;
}

.access__title,
.contact__title {
  font-size: 32px;
  margin-bottom: 40px;
  font-weight: 500;
}


/* MAP */
.access_map {
  width: 100%;
  height: 350px;
  margin-block: 30px;
}

.access_map iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

/* Text */
.access_info,
.contact_text,
.contact_detail {
  line-height: 1.8;
  font-size: 16px;
}

/* Contact */
.contact_title {
  margin-bottom: 30px;
}
.contact_text {
  margin-bottom: 20px;
}

.contact_detail a {
  text-decoration: none;
  color: inherit; 
}

.contact_detail a:hover {
  opacity: 0.7;
}




@media (max-width: 900px) {
#header {
    padding: 28px 2%;
}
.mainvisual img{
    width: 100%;
    display: block;
    margin-top: 100px;
}

.site-title {
    top: 50%;
    right: 5%;
}

.site-title p {
    line-height: 1.2;
}

.text ul li p{
    font-size: 20px;
    color: #333;
}

.navi-menu {
    margin-left: 70px;
}

/* menu */
#header-image {
  height: 180px;
  padding: 60px 10%;
}


.text {
    font-size: 25px;
    padding-inline: 5%;
}

.gallery-images {
  flex-direction: column;
  width: 100%;
}

.image1,
.image2{
  width: 100%; 
}

.menu {
    padding-inline: 5%;
}

.menu-footer p {
    top: 180px;
}

.access {
    padding: 120px 16px 60px 16px;
  }
  .contact {
    padding: 50px 16px 60px 16px;
  }

  .access__title,
  .contact__title {
    font-size: 26px;
    margin-bottom: 28px;
  }

  .access__map {
    height: 280px;
  }
}